/**
 * Page
 */

body {
  font-size: $base-font-size;
  margin: 0 auto;
  padding: 0 3rem;
  line-height: 1.6;
  font-family: "firasans";
  p {
    margin-bottom: 0;
  }
  #navbar_top {
    background-color: $brand-color;
    .brand {
      width: 14rem !important;
      height: 8rem !important;
      padding: 2rem 0;
    }
    .dropdown-toggle {
      color: $brand-accent-light !important;
    }
    .dropdown-toggle::after {
      color: $brand-accent;
      position: relative;
      top: 16px;
      left: 3px;
      transform: rotate(-45deg);
      float: right;
    }
  }
  .form-control {
    border-radius: 0;
  }
  .footer {
    background-color: $brand-dark;
    color: $brand-accent-light;
    a {
      color: $brand-accent-light;
      text-decoration: none;
    }
    a:hover {
      color: $brand-accent;
    }
  }
}

@media (max-width: 575.98px) {
  body {
    padding: 0;
    .px-5 {
      padding: 2rem !important;
    }
    .py-5 {
      padding: 1rem !important;
    }
    .header .col-auto {
      width: 100% !important;
    }
  }
}
