/**
 * Podcasts
 */

#features {
  border-top: 1px solid #d5d8d9;
  a {
    text-decoration: none;
    color: $base-dark !important;
  }
  p {
    font-weight: bold;
    font-size: $base-font-size;
  }
  .col {
    background-color: $keyline;
    padding: $grid-padding;
  }
  .card {
    font-size: $base-font-size;
    background-color: $keyline;
    border: none;
  }
  .dropdown-toggle::after {
    color: $brand-accent;
    position: relative;
    top: 30px;
    transform: rotate(-45deg);
    float: right;
  }
}
