// Fonts

@font-face{
	font-family: 'firasans';
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Light.eot');
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Light.woff') format('woff'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Light.ttf') format('truetype');
	     font-weight: 300;
	     font-style: normal;
}
@font-face{
	font-family: 'firasans';
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-LightItalic.eot');
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-LightItalic.woff') format('woff'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-LightItalic.ttf') format('truetype');
	     font-weight: 300;
	     font-style: italic;
}

@font-face{
	font-family: 'firasans';
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Regular.eot');
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Regular.woff') format('woff'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Regular.ttf') format('truetype');
	     font-weight: normal;
	     font-style: normal;
}
@font-face{
	font-family: 'firasans';
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Italic.eot');
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Italic.woff') format('woff'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Italic.ttf') format('truetype');
	     font-weight: normal;
	     font-style: italic;
}
@font-face{
	font-family: 'firasans';
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Bold.eot');
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Bold.woff') format('woff'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Bold.ttf') format('truetype');
	     font-weight: bold;
	     font-style: normal;
}
@font-face{
	 font-family: 'firasans';
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-BoldItalic.eot');
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-BoldItalic.woff') format('woff'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-BoldItalic.ttf') format('truetype');
	     font-weight: bold;
	     font-style: italic;
}
@font-face{
	font-family: 'firasans';
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Medium.eot');
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Medium.woff') format('woff'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-Medium.ttf') format('truetype');
	     font-weight: 600;
	     font-style: normal;
}
@font-face{
	font-family: 'firasans';
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-MediumItalic.eot');
    src: url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-MediumItalic.woff') format('woff'),
         url('https://www.imperial.ac.uk/T4Assets/fonts/fira-sans/FiraSans-MediumItalic.ttf') format('truetype');
	     font-weight: 600;
	     font-style: italic;
}
@font-face {
	font-family: 'imperial-icons';
	src:url('https://www.imperial.ac.uk/T4Assets/fonts/icons/fonts/imperial-icons.eot?vrmf2d');
	src:url('https://www.imperial.ac.uk/T4Assets/fonts/icons/fonts/imperial-icons.eot?#iefixvrmf2d') format('embedded-opentype'),
		url('https://www.imperial.ac.uk/T4Assets/fonts/icons/fonts/imperial-icons.woff?vrmf2d') format('woff'),
		url('https://www.imperial.ac.uk/T4Assets/fonts/icons/fonts/imperial-icons.ttf?vrmf2d') format('truetype'),
		url('https://www.imperial.ac.uk/T4Assets/fonts/icons/fonts/imperial-icons.svg?vrmf2d#imperial-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
